name: Build DSi Project

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install pacman
        run: |
          wget -U "dkp-apt" https://apt.devkitpro.org/install-devkitpro-pacman
          chmod +x ./install-devkitpro-pacman
          ./install-devkitpro-pacman

      - name: Install DSi dependencies
        run: |
          dkp-pacman -Syu --noconfirm
          dkp-pacman -S --noconfirm nds-dev libnds

      - name: Compile project
        run: |
          export DEVKITPRO="/opt/devkitpro"
          export DEVKITARM="$DEVKITPRO/devkitARM"
          make -j
        shell: bash

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DSI-Build-Artifact
          path: "**/*.nds"
          if-no-files-found: error
