name: Build DSI App

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        # Añadimos -y para asegurar que dkp-pacman esté actualizado
        run: dkp-pacman -Syyu --noconfirm nds-dev

      - name: Compile project
        # Usamos bash explícitamente para evitar problemas de shell en el contenedor
        run: make

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          # Nombre limpio para el ZIP de descarga
          name: DSI-Build-Artifact
          # El path busca cualquier archivo .nds generado
          path: "*.nds"
          # Opcional: para que no falle si no encuentra el archivo
          if-no-files-found: error
